* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

.footerTop {
    width: 100%;
    height: 100vh;
    background-color: #151850;
}

.imageFooter {
    width: 80%;
    height: 500px;
    background-color: green;
    margin: auto;
    margin-top: 30px;
}

.footerText {
    padding-left: 10%;
    color: white;
    padding-top: 30px;
}

.footerTextBanner {
    padding-left: 10%;
    padding-top: 20px;
    color: white;
    font-size: 40px;
}

.Footer_hr {
    width: 80%;
    height: 2px;
    margin: auto;
    margin-top: 10px;
}

.footerTextLogo {
    padding-left: 10%;
    padding-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.images11 {
    object-fit: cover;
    width: 100%;
    height: 100%;

}